// Modified bootstrap _buttons.sccs.

@use "sass:math";

%btn, 
.btn {
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    font-weight: 600;
    border-style: solid;
    border-width: 0;
    display: inline-block;
    color: $body-color;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    @include button-size($btn-padding-y*0.9, $btn-padding-x*0.9, $btn-font-size*0.9, $btn-border-radius);
    @include media-breakpoint-up(lg) {
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    }
    /*
    body:not(.shadows-disabled) & {
        & {
            transition: none;
        }
        &:not(:focus-visible):not(:hover) {
            @include adjusted-shadow(0.7);
        }
    }
    */
    i {
        display:inline-block;
        text-decoration: none;
        vertical-align: middle;
        font-size: 1.35em;
    }
    &:hover {
        text-decoration: underline;
    }
    &:focus-visible,
    &:active,
    &:hover {
        opacity: 1;
    }
    &:focus-visible {
        outline-offset: $input-btn-focus-width*1.5;
        outline-width: $input-btn-focus-width;
    }
    

    p &:not(:first-child) {
        margin-left: math.div($spacer, 6);
    }
    p &:not(:last-child) {
        margin-right: math.div($spacer, 6);
    }

    /*
    @supports ( font-variation-settings: normal ) {
        body.font-up & {
            padding-bottom: $btn-padding-y+0.15rem;
        }
        body.font-down & {
            padding-top: $btn-padding-y+0.15rem;
        }
    }
    */
}

.btn-block {
    display: block;
    width: 100%;
    + .btn-block {
        // Bootstrap 5 removed $btn-block-spacing-y, using spacer instead
        margin-top: 0.5rem;
    }
}

.btn:disabled {
    box-shadow: none !important;
    text-decoration: none !important;
    opacity: 0.5;
}

%btn-primary,
.btn-primary {
    background-color: var(--color-accent-hl);
    border-color: var(--color-accent-hl);
    color: var(--color-accent-hl-contrast);
    &:hover {
        box-shadow: 0 0 0 $input-btn-focus-width var(--color-accent-hl-a), 0 0 0 $input-btn-focus-width var(--color);
        color: var(--color-accent-hl-contrast);
    }
    &:focus-visible {
        outline-color: var(--color-accent);
    }
    body.btn-style-outline &:not(:hover):not(:focus-visible) {
        color: var(--color-accent-hl);
    }

}
%btn-secondary,
.btn-secondary {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-accent-contrast);
    &:hover {
        background-color: var(--color-accent);
        box-shadow:0 0 0 $input-btn-focus-width var(--color-accent-a),  0 0 0 $input-btn-focus-width var(--color);
        color: var(--color-accent-contrast);
    }
    &:focus-visible {
        outline-color: var(--color-accent-hl);
    }
    body.btn-style-outline &:not(:hover):not(:focus-visible) {
        color: var(--color-accent);
    }
}

body.btn-style-outline %btn,
body.btn-style-outline .btn,
.is-style-outline %btn,
%btn-outline {
    border-width: $btn-padding-y*0.4;
    padding: $btn-padding-y*0.6 $btn-padding-x*0.9;
    
    &:not(:hover):not(:focus-visible) {
        color: var(--color-accent);
        background-color: transparent !important;
        border-color: currentColor !important;
    }
    &:hover, 
    &:focus-visible {
        text-decoration: none;
        opacity: 1;
    }
}