$color-palletes: (
    color-bg: (default: false, blocks: true, nav: false), 
    color-bg-alt: (default: false, blocks: true, nav: false), 
    color-boxes: (default: color-bg-alt, blocks: true, nav: false),
    header-main-bg-color: (default: color-bg-alt, blocks: true, nav: true, nav-dropdown-style: header-secondary-bg-color), 
    header-secondary-bg-color: (default: color-bg, blocks: true, nav: true, nav-dropdown-style: false), 
    hero-main-bg-color: (default: color-bg-alt, blocks: true, nav: false),
    footer-main-bg-color: (default: color-bg-alt, blocks: true, nav: false),
    alert-bg-color: (default: color-bg, blocks: false, nav: false),
);

// Generates color pallets according to options.
@each $pallete, $options in $color-palletes {
    // Lets first set the defaults if needed
    @if map-get($options, default) {
        #{$el-root} {
            --#{$pallete}: var(--#{map-get($options, default)});
            --#{$pallete}-contrast: var(--#{map-get($options, default)}-contrast);
            --#{$pallete}-accent: var(--#{map-get($options, default)}-accent);
            --#{$pallete}-accent-a: var(--#{map-get($options, default)}-accent-a);
            --#{$pallete}-accent-contrast: var(--#{map-get($options, default)}-accent-contrast);
            --#{$pallete}-accent-hl: var(--#{map-get($options, default)}-accent-hl);
            --#{$pallete}-accent-hl-a: var(--#{map-get($options, default)}-accent-hl-a);
            --#{$pallete}-accent-hl-contrast: var(--#{map-get($options, default)}-accent-hl-contrast);
        }
    }

    %#{$pallete} {
        --color: var(--#{$pallete}, --#{map-get($options, default)});
        --color-contrast: var(--#{$pallete}-contrast, --#{map-get($options, default)}-contrast);
        --color-accent: var(--#{$pallete}-accent, --#{map-get($options, default)}-accent);
        --color-accent-a: var(--#{$pallete}-accent-a, --#{map-get($options, default)}-accent-a);
        --color-accent-contrast: var(--#{$pallete}-accent-contrast, --#{map-get($options, default)}-accent-contrast);
        --color-accent-hl: var(--#{$pallete}-accent-hl, --#{map-get($options, default)}-accent-hl);
        --color-accent-hl-a: var(--#{$pallete}-accent-hl-a, --#{map-get($options, default)}-accent-hl-a);
        --color-accent-hl-contrast: var(--#{$pallete}-accent-hl-contrast, --#{map-get($options, default)}-accent-hl-contrast);
    }

    .has-#{$pallete}-background-color {
        @extend %#{$pallete};
        & ~ .wp-block-cover__inner-container {
            @extend %#{$pallete};
        }
    }
    .has-#{$pallete}-color {
        color: var(--#{$pallete}, --#{map-get($options, default)}) !important;
    }


}

%has-background {
    background-color: var(--color);
    color: var(--color-contrast);
}

%color-btn-primary {
    background-color: var(--color-accent-hl);
    border-color: var(--color-accent-hl);
    color: var(--color-accent-hl-contrast);
    &:hover {
        box-shadow: 0 0 0 $input-btn-focus-width var(--color-accent-hl-a), 0 0 0 $input-btn-focus-width var(--color);
        color: var(--color-accent-hl-contrast);
    }
    &:focus-visible {
        outline-color: var(--color-accent);
    }
    body.btn-style-outline &:not(:hover) {
        color: var(--color-accent-hl);
    }
}

%color-btn-secondary {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-accent-contrast);
    &:hover {
        box-shadow:0 0 0 $input-btn-focus-width var(--color-accent-a),  0 0 0 $input-btn-focus-width var(--color);
        color: var(--color-accent-hl-contrast);
    }
    body.btn-style-outline &:not(:hover) {
        color: var(--color-accent);
    }
}

%color-form-control {
    border-color: var(--color-accent);
    &:focus-visible {
        border-color: var(--color-accent);
        box-shadow:0 0 0 $input-btn-focus-width var(--color-accent-a),  0 0 0 $input-btn-focus-width var(--color);
    }
}

