/*
 * Adds basic styling to directory module included with theme.
 */

 .cp-dir-item-fields:not(:last-child) {
    margin-bottom: $paragraph-margin-bottom;
 }

.cp-dir-controls {
    background-color: var(--color-boxes);
    fieldset {
        padding: $spacer*0.2;
        @include media-breakpoint-up(md) {
            display: flex;
        }
    }
}
.cp-dir-control {
    margin: $spacer*0.2;
    margin-bottom: $spacer*0.2*2;
    @include media-breakpoint-up(md) {
        margin-bottom: $spacer*0.2;
    }
}
.cp-dir-control-search {
    flex-grow: 2;
}
.cp-dir-control-select {
    flex-grow: 1;
}
.cp-dir-pagination {
    padding: $spacer*0.25;
    border: 1px solid var(--color-boxes);
    border-top: none;
}
}