#site-alert {
    border-radius: 0;
    margin-bottom: 0;
    :last-child {
        margin-bottom: 0;
    }
    .close {
        opacity: 1 !important;
        transition: color 0.5s;
        &:not(:disabled):not(.disabled):hover {
            color: var(--color-accent-hl);
        }
    }
}