@use "sass:math";

.entries-row {
    article {
        position: relative;
        margin-bottom: $spacer;
    }
    .entry-header {
        margin-bottom: math.div($spacer*2, 3);
        :last-child {
            margin-bottom: 0;
        }
    }

    &.image-on-top {
        article {
            display: flex;
            flex-direction: column
        }
        .entry-featured-image {
            margin-top: 0;
            order: -1;
        }
    }
    &.image-disabled .entry-featured-image {//CUSTOMIZER-ONLY
        display: none;
    }

    .entry-meta {
        > ul {
            margin-bottom: 0;
            > li.post-author-has-avatar {
                display: block;
                margin-bottom: math.div($spacer*1, 3);
            }
        }
    }
}
.entry-col-boxed {
    .entry-col {
        margin-bottom: math.div($spacer*2, 3);
    }
    article {
        @extend %color-boxes;
        height: 100%;
        margin-bottom: 0px;
        padding: math.div($spacer*2, 3);
        border-radius: $border-radius;
        body:not(.shadows-disabled) & {
            @include adjusted-shadow();
        }
        .entry-title a {
            color: inherit;
        }
        &::after {
            display: none;
        }
    }

    &.image-on-top {
        .entry-featured-image {
            margin: -#{math.div($spacer*2, 3)} -#{math.div($spacer*2, 3)} math.div($spacer*2, 3);
            text-align: center;
        }
    }
}

.avatar {
    border-radius: 24px;
    margin-right: $list-inline-padding*0.5;
}



.page-header {
    margin-bottom: $spacer;
    .page-title {
        margin-bottom: math.div($spacer*1, 3);
    }
    .breadcrumbs {
        display: inline-block;
    }
    .breadcrumb {
        padding: 0;
        .active {
            :before {
                padding-right: 0;
            }
            span {
                @include sr-only;
            }
        }
    }

    .breadcrumbs.hero-has-breadcrumb-top-right.hero-enabled {//CUSTOMIZER-ONLY
        display: none;
    }
}

body.blog.hide-hero-page-title {//CUSTOMIZER-ONLY
    .page-header, #hero-main {
        display: none;
    }
}

.entry-title a, 
%entry-title-a {
    text-decoration: none;
    &, &:hover {
        color: var(--color-bg-contrast); 
    }
    &:hover {
        text-decoration: underline;
    }
}
.entry-type-idicator  {
    margin-right: $spacer*0.25;
}

.entry-content {
	@include clearfix;
    
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
    }

    h2:not(:first-child), .h2:not(:first-child) {
        margin-top: $spacer * 0.5 * 2;
    }

    h2:not(:last-child), .h2:not(:last-child) {
        margin-bottom: math.div($spacer, 3) * 2;
    }

    h3:not(:first-child), .h3:not(:first-child) {
        margin-top: $spacer * 0.5 * 1.75;
    }

    h3:not(:last-child), .h3:not(:last-child) {
        margin-bottom: math.div($spacer, 3) * 1.75;
    }

    h4:not(:first-child), .h4:not(:first-child) {
        margin-top: $spacer * 0.5 * 1.5;
    }

    h4:not(:last-child), .h4:not(:last-child) {
        margin-bottom: math.div($spacer, 3) * 1.5;
    }

    h5:not(:first-child), .h5:not(:first-child) {
        margin-top: $spacer * 0.5;
    }

    h5:not(:last-child), .h5:not(:last-child) {
        margin-bottom: math.div($spacer, 3);
    }

    h6:not(:first-child), .h6:not(:first-child) {
        margin-top: $spacer * 0.5 * 0.75;
    }

    h6:not(:last-child), .h6:not(:last-child) {
        margin-bottom: math.div($spacer, 3) * 0.75;
    }
    
    // Makes it possible to use spacer block to set top margin.
    > .wp-block-spacer:first-child + * {
        margin-top: 0;
    }

    .animations-enabled & {
        > .alignfull, 
        > .alignwide,
        > .aligncenter,
        > .alignleft
        > .alignright {
            opacity: 0;
        }
    }
}

.entry-featured-image {
    margin: $spacer 0;
    img {
        object-fit: cover;
    }
}

.entry-meta {
	a, .post-sticky .meta-text {
		font-weight: 500;
		font-variation-settings: 'wght' 500;
	}

    form {
        margin-top: $spacer*0.5;
        @include media-breakpoint-up(lg) {
            max-width: 546px;
        }
    }
}

.post-navigation {
	margin-top: $spacer * 0.5;
	.btn {
        margin-top: $spacer * 0.5;
        i {
            margin-top: -$btn-padding-y*0.3;
        }
	}
}

.pagination {
    display: inline-flex;
    body:not(.shadows-disabled) & {
        @include adjusted-shadow(0.5);
    }
}

.page-link {
    text-decoration: none;
    color: var(--color-boxes-contrast);
    background-color: var(--color-boxes);
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.page-item {
    &.active .page-link, a:hover {
        z-index: 1;
        border-color: inherit;
    }
    a:hover {
        color: var(--color-boxes-accent-contrast);
        background-color: var(--color-boxes-accent);
        opacity: 1;
    }
    &.active .page-link{
        color: var(--color-boxes-accent-hl-contrast);
        background-color: var(--color-boxes-accent-hl);
    }
}

.cpschool-read-more-link-holder {
    display: block;
    margin-top: math.div($spacer, 3);
}