body.search-results {
    .entries-row {
        h2 {
            padding-top: 0.5rem;
        }
        .entry-header {
            margin-bottom: 0.5rem;
        }
        .entry-footer {
            margin-top: 0.5rem;
        }
    }
}